* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #F2FCEF;
}
body {
    max-width: 98%;
    max-height: fit-content;
    justify-content: center;
    margin: 2%;
}
a {
    text-decoration: none;
    padding: 2%;
}

/*HEADER*/
header {
    background-color: #799973;
    text-align: center;
}
.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 2%;
    padding-bottom: 2%;
}
header .nav h1 {
    font-size: 30px;
}
header p {
    font-size: 24px;
    padding-bottom: 2%;
}

/*MAIN*/
main {
    background-color: #aead88;
}
.card {
    display: grid;
    justify-content: center;
    min-width: 400px;
    max-width: 96%;
    padding: 2%;
    height: fit-content;
    max-height: fit-content;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;    
    
}
.card_product img {
    max-width: 200px;
    max-height: 200px;
    height: fit-content;
}
.card_product {
    border-radius: 5%;
    border: solid #141e12 2px;
    text-align: center;
}


/*FOOTER*/
footer {
    background-color: #7e7f4a;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

/*ESTILOS FORMS REGISTRO*/

.form_container {
    padding-bottom: 1%;
    display: grid;
    justify-content: center;
    gap: 5px;
    padding-top: 2%;
}


/*ESTILOS IMAGENES*/

.icons {
    min-width: 20px;
    max-width: 50px;
    border-radius: 20%;
}

.arrows {
    width: 30px;
    border-radius: 20%;
    margin: 5%;
}

.imgProd {
    min-width: 50px;
    max-height: 100px;
    border-radius: 10%;
    margin: 20px;
    margin-top: 30px;
}

.description {
    margin: 1%;
    margin-bottom: 20px;
}

.title-page {
    font-size: 30px;
    text-align: center;
    padding-top: 2%;
}

/*BUTTON*/

.js{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding-top: 2%;
}
#ordenarPrecio {
    background-color:#799973;
    border: #F2FCEF 5px;
    border-color: #13330d7f;
    border-style:double;
    cursor: pointer;
    border-radius: 4%;
}
#ordenarPrecio:hover {
    background-color: #3a5f3c;
}
button {
    background-color:#799973;
    border: #F2FCEF 4px;
    border-color: #13330d7f;
    border-style:inherit;
    padding: 1%;
    margin-bottom: 4%;
    text-decoration: #141e12;
    cursor: pointer;
    border-radius: 4%;
}

#buscarProducto {
    padding: 10px;
    width: 100%;
    border: 1px solid #4d774e;
    border-radius: 10px;
}

button:hover {
    background-color: #3b5e3c;
}

.acciones {
    margin: 2%;
    
}

.acciones button {
    background-color: #4d774e;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    transition: background 0.3s;
}

.acciones button:hover {
    background-color: #3a5f3c;
}

#listaCarrito {
    padding-top: 2%;
    text-align: center;
}